/*francesco quiz css*/
table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #116689;
  padding: 10px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.2em;
  color: #116689;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

#quiz {
  display: none;
}
#quiz td {
  color: #001a45;
}

#quiz span {
  font-weight: bold;
  color: #001a45;
}

#quiz ol li {
  color: #003b82;
}

#steps {
  font: 1em sans-serif;
  padding: 5px 5px 10px 10px;
  color: #0e62d7;
  font-size: 1.2em;
  line-height: 1.5em;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #116689;
  border-radius: 15px;
  margin: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

a:hover {
  color: aliceblue;
  text-decoration: underline;
}

form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}
form input[type="text"] {
  padding: 10px;
  margin: 5px 0 15px 0;
  border: none;
  border-radius: 15px;
  background-color: #f2f2f2;
}
form #nameForm {
  color: #116689;
  font-size: 1.7em;
  font-family: "Barlow Condensed", sans-serif;
}

form button {
  background-color: #116689;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
form button:hover {
  background-color: #0f4f5c;
}

button {
  background-color: #116689;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
}
#quizResult { /*hide quiz result div on start*/
  margin: 10px;
  padding: 10px;
  display: none;
}
#result {
  padding: 10px;
  font-size: 2.7em;
  color: #001a45;
  font-family: "Barlow Condensed", sans-serif;
  background-color: #c0dce8;
  border: 5px solid #9dc7d8;
  border-radius: 15px;
}

/*Mobile */

#form, #quiz, #quizResult {
  max-width: 600px;
  margin: 20px auto;
  padding: 0 15px;
  box-sizing: border-box;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 15px;
  overflow-x: auto;
  display: block;
}


th, td {
  padding: 10px 8px;
  font-size: 1rem;
}


#quiz ol {
  padding-left: 20px;
  margin: 5px 0;
}

/*end francesco quiz css*/
/*Resonsive nav start*/
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }
}
/*responsive nav end*/

/* main website css*/
body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: #9dc7d8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23f5fcff' fill-opacity='0.4' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
  /*backgroud from https://heropatterns.com*/

  margin: 25px 25px 25px 25px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}
h1 {
  color: #116689;
  font-size: 300%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 15px;
}

h3 {
  font-size: 200%;
  text-shadow: 2px 2px 6px #116689;
  background-color: rgba(255, 255, 255, 0.2);

  padding: 5px;
  border-radius: 15px;
}

h4 {
  font-size: 150%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 5px;
  border-radius: 15px;
}

p {
  background-color: #c0dce8;
  width: 90%;
  border: 5px solid #9dc7d8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 15px;
  font-size: 18px;
}

img {
  width: 600px;
  height: auto;
}
/* main website css end */

/* navbar css*/
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-radius: 15px;
  width: 100%;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 25px;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #116689;
  font-weight: bold;
}
/* navbar css end*/

/* steps-solution page css*/
.steps {
  background-color: #9dc7d8;
  width: 90%;
  border: 5px solid #c0dce8;
  background-color: #c0dce8;
  width: 90%;
  border: 5px solid #9dc7d8;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 15px;
  list-style-position: inside;
}


.footer {
  font-size: 0.9rem;
}



/* Tara Page 3 CSS */

/* carousel-Change page css*/
.carousel-size {
  max-width: 750px;
  margin: auto;
}

/* effects drop down-Water page css*/
.marineLife {
  width: 90%;
  border: 5px solid #9dc7d8;
  margin: 10px;
  border-radius: 15px;
}

/* When accordion is closed */
.accordion-button.collapsed {
  background-color: white;
  color: #116689;
}

/* beach pollution image-css*/
#pollution {
  text-align: center;
  background-color: #c0dce8;
  width: 90%;
  border: 5px solid #9dc7d8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 10px;
  border-radius: 15px;
  align-items: center;
}
/* users assigned animal based on their choices*/
#animalResult {
  color: white;
  display: none;
  font-style: italic;
  border: 3px solid white;
  font-size: large;
  width: fit-content;
  border-radius: 15px;
  background-color: #116689;
  padding: 10px;
  margin-bottom: 10px;
}
/* what is your favourite colour/passtime question box*/
.animalQuestions{
  border: 2px solid #116689;
  background-color: #9dc7d8;
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
}
/* radio button options*/
.btnQuestion{
  list-style-position: inside;
  margin: 3px;
  cursor: pointer;
}

/* what ocean animal are you button */
#whatAnimals {
  border: 2px solid #9dc7d8;
  background-color: #116689;
  cursor: pointer;
}
/* what ocean animal are you button hover*/
#whatAnimals:hover {
  color: black;
  background-color: #9dc7d8;
  border: 2px solid #116689;
  cursor: pointer;
  font-weight: bold;
}
/* what ocean animal are you reset button */
#resetAnimals {
  border: 2px solid #9dc7d8;
  background-color: #116689;
  cursor: pointer;
}
/* what ocean animal are you reset button hovering */
#resetAnimals:hover {
  color: black;
  background-color: #ffb3b3; 
  color: darkred;
  border: 2px solid darkred;
  cursor: pointer;
  font-weight: bold;
 }

 /* tara css page 3 end */
/*Tara CSS Page 4 */

#tipText{ /*click here for...*/
  border: 2px solid #116689;
  background-color: #9dc7d8;
  font-weight: bold;
  font-size: x-large;
  width: fit-content;
}

#randomTipShow{
  border: 3px solid white;
  font-size: large;
  font-weight: bold;
  width: fit-content;
  border: 2px solid #116689;
  background-color: #9dc7d8;
}

#plasticTip{
  display: none;
  
}
/* plastic tip and tricks button*/
.plasticTipButton {
  font-size: larger;
  width: 15%;
  border: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
/* plastic tip and tricks reset button*/
 .resetTipButton{
  font-size: larger;
  width: 15%;
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
 }
/* plastic tip and tricks button hover*/
 .plasticTipButton:hover {
  background-color: #a3d5ff; /* change colour when hover mouse */
  color: black; /* change font colour */
  font-weight: bold; /* set font to bold */
  cursor: pointer;
}
/* plastic tip and tricks reset button hover*/
.resetTipButton:hover {
  background-color: #ffb3b3; 
  color: darkred;
  font-weight: bold;
  cursor: pointer;
}

/*hide form*/
.tarasForm {
  display: none;
}

/*hide form*/
.openButton{
  background-color: #116689;
  font-size: larger;
  width: 30%;
  border: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}
.openButton:hover {
  background-color: #a3d5ff; 
  color: black; 
  font-weight: bold; 
  cursor: pointer;
}
input[name="message"] {
  width: 100%;
  height: 150px;
}

/* form submit button*/
.btn{
  background-color: #116689;
  font-weight: bold;
  font-size: larger;
  width: 15%;
  border: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
}
/* form cancel button */
.btnCancel {
  font-size: larger;
  font-weight: bold;
  width: 15%;
  border: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
/* form submit hover*/
.btn:hover {
  background-color: #a3d5ff; 
  border: 3px solid white;
  color: black; 
  font-weight: bold; 
  cursor: pointer;
}
/* form cancel hover*/
.btnCancel:hover {
  background-color: #ffb3b3; 
  color: darkred;
  font-weight: bold;
  cursor: pointer;
}
/*buttons container*/
.formButtons {
  /*this fixed buttons appearing misaligned */
  display: flex;
}

.contactMe {
  font-weight: bold;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  width: fit-content;
  margin-left: -10px;
}
/*Tara CSS Page 4 end*/

/*Ryan CSS page 2*/
#para {
  background-color: aqua;
  padding:30px;
  border: 2px gray;
  display: none;
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
}
